body {
  font-family: roboto, arial;
  background-image: linear-gradient(bisque, green);
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

main {
  margin-right: 20px;
  min-height: 100vh;
}

figcaption {
  color: greenyellow;
  font-family: roboto, arial;
}


.title {
  color: darkgreen;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.synopsis {
  color: darkgreen;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  text-shadow: 1px 2px rgba(0, 0, 0, 0.1);
  width: 400px;
}

.dog-img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border: 2px;
  border-style: solid;
  border-color: darkgreen;
  border-radius: 50%;
  transition: box-shadow 0.5s;
  
  margin-top: 50px;
}

.dog-img:hover {
  box-shadow: 0px 0px 3px 5px rgba(47, 105, 39, 0.35);
}

footer {
  background-color: rgb(58, 44, 44);
  color: white;
  padding: 20px;
  text-align: center;
  margin-top: auto; 
}

.email-1 {
  font-size: 12px;
  opacity: 0.4;
}

.map {
  border-style: solid;
  width: 100%;
  margin-left: 0px;
  margin-bottom: 10px;
  margin-top: 10px;
  z-index: 1;
}

 /* Style for phonenumber */
.phone-number {
  font-size: 20px;
  font-family: dela-gothic-one;
  text-decoration: none;
  background-color: darkgreen;
  color: white;
  padding: 6px;
  border-radius: 4px;
  border-style: solid;
  border-color: white;
}

#more {
  padding: 10px 15px; 
  background-color: rgb(58, 44, 44);
  color: white;
  border: none;
  font-size: 20px;
  font-family: roboto;
  cursor: pointer;
  margin-left: 0px;
  margin-top: 5px;
}

.header {
  position: absolute;
  left: 0px;
  top: 0px;
}

.nav-buttons {
  display: none;
  padding: 10px 15px;
  background-color: rgb(58, 44, 44);
  color: white;
  border: none;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.767);
  cursor: pointer;
  z-index: 0;
}

.header:hover .nav-buttons {
  display: block;
}


/* css that applies to devices with a width lesser or equal to 500px */
@media all and (max-width: 500px) {
  .title {
    margin-left: 20px;
    margin-top: 40px;
  }

  .dog-img {
    height: 100px;
      width: 100px;
      object-fit: cover;
      border: 2px;
      border-style: solid;
      border-color: darkgreen;
      border-radius: 50%;
      transition: box-shadow 0.5s;
      
      margin-top: 50px;
      
    }

    .dog-info {
      column-count: 3;
     }
}

/* css for desktop */
@media all and (min-width: 500px) {
 .nav-buttons:hover {
  opacity: 0.9;
 }
}



